@model IList<MVC_PcShop.Models.CartItem>
@using MVC_PcShop.Models;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<h1>My Cart</h1>
@if ((List<CartItem>)Session["cart"] == null)
{
    <p class="alert alert-danger" style="font-size:18px"><strong>Cart is empty !</strong></p>
}

else
{
    <table class="table ">
        <tr style="background-color :lightsalmon">
            <th>
                Picture
            </th>
            <th>
                Type
            </th>
            <th>
                Name
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Sub Total
            </th>
            <th></th>
        </tr>

        @foreach (CartItem item in (List<CartItem>)Session["cart"])
        {
            <tr>
                <td>
                    @if (item.PcComponent.Image != null)
                    {
                        var imgSrc = $"data:image/jpg;base64,{Convert.ToBase64String(item.PcComponent.Image)}";
                        <img src="@imgSrc" alt="@item.PcComponent.Name" width="100" height="100" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PcComponent.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PcComponent.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PcComponent.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PcComponent.Price)
                </td>
                <td>
                    <button type="button" class="btn" style="color:black;background-color:#FFEBCD" onclick="location.href='@Url.Action( "DecreaseQuantity","MyCart", new {  id = item.PcComponent.ID })'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z" />
                        </svg>
                    </button> @Html.DisplayFor(modelItem => item.Quantity) <button type="button" class="btn" style="color:black;background-color:#FFEBCD" onclick="location.href='@Url.Action( "IncreaseQuantity","MyCart", new {  id = item.PcComponent.ID })'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                        </svg>
                    </button>
                </td>
                <td>
                    @(item.PcComponent.Price * item.Quantity)
                </td>
                <td>
                    <button type="button" class="btn" style="color:red;background-color:#FFEBCD" onclick="location.href='@Url.Action( "Remove","MyCart", new {  id = item.PcComponent.ID })'" ;>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-x" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                        </svg>
                    </button>
                </td>
            </tr>
        }
        <tr>
            <td align="right" colspan="6">Total Price:</td>
            <td>
                @{
                    List<CartItem> Items = (List<CartItem>)Session["cart"];
                    var total = Items.Sum(item => item.PcComponent.Price * item.Quantity);
                }
                @total
            </td>
            <td></td>

        </tr>
    </table>
}
<br />
<button type="button" class="btn" style="color:black;background-color:#FFEBCD" onclick="location.href='@Url.Action( "Index","PcComponent")'">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-shop" viewBox="0 0 16 16">
        <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z" />
    </svg> Continue Shopping
</button>





