
@model PagedList.IPagedList<MVC_PcShop.Models.Category>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Categories";
}
<br />
<br />

<h1>Categories</h1>

<div class="alert alert-success"><strong>Filter categories/Pick a category!</strong></div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Category: @Html.TextBox("SearchStringCategory", ViewBag.CurrentFilter as string)
        <input type="submit" class="btn btn-success" value="Search" />
    </p>
}

<table class="table table-hover">
    <tr style="background-color :lightsalmon">
        <th>            
            Category Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.CategoryName, "Index", "PcComponent", new { id = item.ID }, null)    <span class="badge">3</span>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
