
@model PagedList.IPagedList<MVC_PcShop.Models.PcComponent>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "PcComponents";
}
<br />
<br />

<h1>Pc Components</h1>

<div class="alert alert-success"><strong>Filter pc components!</strong></div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Pc Component: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        Price Range: @Html.TextBox("lowerPrice", ViewBag.lowerPrice as string)  @Html.TextBox("higherPrice", ViewBag.higherPrice as string)
        <input type="submit" class="btn btn-success" value="Search" />
    </p>

}
<table class="table table-hover">
    <tr style="background-color :lightsalmon">
        <th>
            Category Name
        </th>
        <th>
            Type
        </th>
        <th>
            Name
        </th>
        <th>
            Manufacturer
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter, lowerPrice = ViewBag.lowerPrice, higherPrice = ViewBag.higherPrice }))
